<div class="container">
  <h1>Create Quote</h1>
  <div class="row">
    <div class="col-md-6">
  <form #userForm="ngForm">
    <hr>
    <!-- {{userModel | json}} -->
    <div class="form-group">
      <label>Custom Quote</label>
      <textarea id="" cols="70" rows="5" required #quote = "ngModel" [class.is-invalid] ="quote.invalid && quote.touched" class="form-control" name="quote" [(ngModel)]="userModel.quote">
        
      </textarea>
      <small class = "text-danger" [class.d-none] = "quote.valid || quote.untouched ">Input your quote here</small>
    </div>

    <div class="form-group">
      <label>Author</label>
      <input type="text" required #author = "ngModel" [class.is-invalid] ="author.invalid && author.touched" class="form-control" name="author" [(ngModel)]="userModel.author">
      <small class = "text-danger" [class.d-none] = "author.valid || author.untouched ">Please fill in the Author</small>
    </div>
    <div class="form-group">
      <label>Publisher</label>
      <input type="text" required #publisher = "ngModel" [class.is-invalid] ="publisher.invalid && publisher.touched" class="form-control" name="publisher" [(ngModel)]="userModel.publisher">
      <small class = "text-danger" [class.d-none] = "publisher.valid || publisher.untouched ">Please fill in the publisher's name</small>
    </div>



    
    <button [disabled] ="userForm.form.invalid" class="btn btn-primary" type="submit">Create Quote</button>


  </form>
</div>
<!-- end of col 1 -->
<div class="col-md-6">
  <p>
      {{userModel.quote}}
  </p>
  <p>
      {{userModel.author}}
  </p>
  <p>
      {{userModel.publisher}}
  </p>

</div>
<!-- end of col 2 -->
</div> 
<!-- end of row -->
</div>