<div class="container">
  <h1>Create Quote</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <app-quote-form (createQuote)="createNewQuote($event)"></app-quote-form>
    </div>
    <!-- end of col 1 -->
    <div class="col-md-6">

      <div *ngFor="let quote of quotes; let i = index" class="quote">
        <blockquote>
        <h5> <i class="fas fa-quote-left"></i> {{quote.quote}} <i class="fas fa-quote-right"></i></h5>
        <br>
        <br>
          <button class="btn btn-success" (click)='toggleDetails(i)'>More Details</button>
          <app-details *ngIf="quote.showDetails" [quote]='quote' (isIrrelevant)='irrelevantQuote($event, i)'></app-details>
          <br>
</blockquote>
      </div>


    </div>
    <!-- end of col 2 -->
  </div>
  <!-- end of row -->
</div>
