<div class="container">
  <h1>Create Quote</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <app-quote-form (createQuote)="createNewQuote($event)"></app-quote-form>
    </div>
    <!-- end of col 1 -->
    <div class="col-md-6">
      <ul>
        <div *ngFor="let quote of quotes; let i = index">
          <li>{{quote.quote}} created on {{quote.quotedDate | date}}</li>
          <button (click)='toggleDetails(i)'>Details</button>
          <app-details *ngIf="quote.showDetails" [quote]='quote' (isIrrelevant)='irrelevantQuote($event, i)'></app-details>
        </div>
      </ul>

    </div>
    <!-- end of col 2 -->
  </div>
  <!-- end of row -->
</div>
