<p>
{{quote.author}}
</p>
<p>
{{quote.publisher}}
</p>
<p>Created {{quote.quotedDate | datePassed}} ago</p>
<button (click) = 'quoteIrrelevant(true)'>Delete</button>
<!--
<div id="myrow" class="row" *ngFor="let quote of quotes; let i = index">
		<div class="col-md-4" id="side">
		</div>
		<div class="col-md-8" id="content">
			<blockquote class="blockquote text-center">
				<p appHighlight *ngIf="i == 0 && quote.upvotes>=1; else paragraphthis">{{quote.quote}}.</p>
				<ng-template #paragraphthis>
				{{quote.quote}}
				</ng-template>

			<footer id="auth" class="blockquote-footer">{{quote.author }}<cite title="author"> author</cite></footer>
		<footer>posted by {{quote.publisher}} -- {{quote.dateAdded|lapseTime}} on {{quote.dateAdded|date}}</footer>
	</blockquote>
	<button class="btn btn-success" (click)="voteUp(i)">upvote</button>
	<span>{{quote.upvotes}}</span>
	<button class="btn btn-default" (click)="voteDown(i)">downvote</button>
	<span>{{quote.downvotes}}</span>
	<button class="btn btn-danger" (click)="delete(i)">delete</button> -->
